body{
    margin: 0;
}
.hero-section{
    height: 800px;
    width: 100%;

    width: 100%;
    margin: 0;
    background: #B77AFA;
    background: linear-gradient(90deg,rgba(250, 206, 240, 98) 0%, rgba(183, 122, 250, 98) 63%, rgba(250, 206, 240, 98) 88%);
}
.navbar{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    height: 40px;
    width: 100%;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
    display: flex;
    justify-content: center;
    padding-top: 5px;

}
ul li{
    display: inline-block;
    font-size: 20px ;
}
.title{
    height: 280px;
    display: flex;
    width: 400px;


}
h1{
    font-size: 60px;
    color: black;

}
#section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.title{
    margin-right: 70px;
}


img{
    width: 450px;
    height: 350px;
    border-radius: 17px;

}

#about{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.aboutSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    
}
.what{
    font-size: 25px;
}
.text{
    width: 60%;
    background-color: #f7f7f7;
    border-radius: 16px;

}
.text p{
    font-size: 20px;
}

#firstAI {
    height: 400px;
    width: 100%;

}

#firstAI p {
    width: 600px;
    height: 300px;
}
#earlyIdeas{
    height: 700px;
    background: #B77AFA;
	color: black;
	background: linear-gradient(90deg,rgba(250, 206, 240, 98) 0%, rgba(183, 122, 250, 98) 63%, rgba(250, 206, 240, 98) 88%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.text2{
    width: 60%;
    background-color: #f7f7f7;
    border-radius: 16px;
}
.ideas{
    font-size: 30px;
}
#earlyIdeas p{

    font-size: 20px;

}
a{
    text-decoration: none;
}
#firstAI{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}
.text3{
    width: 120%;
    background-color: #f7f7f7;
    border-radius: 16px;
    height: 350px;
    display: flex;
    justify-content: center;

}
.text3 p{
    font-size: 20px;

}

#modern{
    height: 600px;
    width: 100%;
    background: #B77AFA;
	color: black;
	background: linear-gradient(90deg,rgba(250, 206, 240, 98) 0%, rgba(183, 122, 250, 98) 63%, rgba(250, 206, 240, 98) 88%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#modern p{
    width: 600px;
    height: 300px;
}
.mod{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}
.text4{
     width: 120%;
    background-color: #f7f7f7;
    border-radius: 16px;
    height: 350px;
    display: flex;
    justify-content: center;
}
.text4 p{
    font-size: 20px;
}

